<div class="container body-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">Dice App</div>

                    <div class="panel-body">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <dice-table></dice-table>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <dice-message></dice-message>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>